@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";
// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - добавити при підключенні через плагін
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

// Підключити якщо є локальні файли шрифтів
//@import "base/fonts";

// Підключення іконочних шрифтів ==============================================================================================================================================================================================================================================================================
//@import "fonts/icons";

// Шрифт по замовчуванню ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans";
$fontSize: rem(16);

// Змінні кольорів
$mainColor: #fff; // колір по замовчуванню
$secondaryColor: #fff;
$accentColor: #e58411;
$backgroundColor: #0B0C11;
$cardColor: #222631;

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1270;
// Загальний відступ в контейнера
// (30 = по 15px зліва та справа, 0 = немає відступа)
$containerPadding: 170;

// Ширина коли спрацьовує перший брейкпоїнт
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк поінти
$pc: em($containerWidth); // ПК, ноутбуки, планшети в горизонтальному положені
$tablet: em(991.98); // Планшеты,телефоны в горизонтальному положені
$mobile: em(767.98); // Телефони L
$mobileSmall: em(479.98); // Телефони S

// Тип адаптиву:
// 1 = відзивчивий (в контейнера немає брейкпоінтів),
// 2 = по брейкпоінтам (контейнер міняє свою ширину по брейкпоінтам)
$responsiveType: 1;

// Підключення обнуляючих стилів ===========================================================================================================================================================================================================================================================================
@import "base/normalize";
// Підключення головних стилів
@import "style";

//=========================================================================================================================================================
